@model IEnumerable<WebApplication10.Models.tblSubject>

@{
    ViewBag.Title = "Index";
}

<h2>Profielen</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sjBSN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sjGender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sjDateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sjDateOfDeath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sjMaritalStatusId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sjIsInactive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sjAnonymisedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sjWoonplaatsSource)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sjWoonplaatsId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sjBSN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sjGender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sjDateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sjDateOfDeath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sjMaritalStatusId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sjIsInactive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sjAnonymisedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sjWoonplaatsSource)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sjWoonplaatsId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.sjId }) |
            @Html.ActionLink("Details", "Details", new { id=item.sjId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.sjId })
        </td>
    </tr>
}

</table>
